include *.rst
global-exclude *pyc
global-exclude *~
global-exclude *.un~
global-include *mo
global-include *po
global-include *.zcml
graft docs
prune docs/.build
graft src/collective/xmpp/core/profiles
graft src/collective/xmpp/core/browser/css
graft src/collective/xmpp/core/browser/gritter
graft src/collective/xmpp/core/browser/images
graft src/collective/xmpp/core/browser/js
