include *.rst
global-exclude *pyc
global-exclude *~
global-exclude *.un~
global-include *po
global-include *.zcml
graft docs
prune docs/.build
graft collective/xmpp/core/profiles
graft collective/xmpp/core/browser
graft collective/xmpp/core/browser/css
graft collective/xmpp/core/browser/gritter
graft collective/xmpp/core/browser/images
graft collective/xmpp/core/browser/js
